.git
.gitignore
.env
.dockerignore
docker-compose*.yml
README.md
docs/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.pytest_cache
venv/
.venv/

# Node
node_modules
npm-debug.log
Dockerfile
.dockerignore
build
dist
.vscode
